page-wishlist {
    .item-card-remove-button{

    }

    .item-name-input{
      font-size: 1.1em;
    }

    .item-card{
        height: 6.0em;
        border: 0.01em solid #78909C;
        -webkit-box-shadow: none;
        margin-bottom: 0.3em;
        color: #B3E5FC;
    }

    .item-card-header{
      font-size: 1.2em;
    }
}
